<div>
  <div *ngFor="let user of friends">
    <a
      class="p-4 my-2 flex items-center justify-between hover:cursor-pointer hover:bg-slate-100"
      [routerLink]="['/chat/', user.group]"
    >
      <div class="flex items-center gap-2">
        <img
          class="size-12 object-cover rounded-full"
          src="https://img2.rtve.es/i/?w=1600&i=1634549481092.jpg"
          alt="bruce"
        />
        <p>
          {{ user.user.name[0].toUpperCase() + user.user.name.slice(1) }}
          {{ user.user.surname[0].toUpperCase() + user.user.surname.slice(1) }}
        </p>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-3 h-3 bg-green-600 rounded-full animate-pulse"></div>
        <div class="w-3 h-3 bg-red-600 rounded-full"></div>
      </div>
    </a>
  </div>
</div>
